@model ModelExample.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<a href="/products/Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Rate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.ProductId
            </td>
            <td>@Model.ProductName</td>
            <td>@Model.Rate</td>
        </tr>
        <a href="/products/index">Back To List</a>
    </tbody>
</table>