@using MyFirstApp.Models
@model List<MyFirstApp.Models.FileModel> 
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Get My CV</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/umd/popper.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>File Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (FileModel file in Model)
        {
            <tr>
                <td>@file.FileName</td>
                @*when click , get the file name*@
                <td>@Html.ActionLink("Download", "DownloadFile", new { fileName = file.FileName })</td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>